<style>
    .item{
        align-items: center;
        display: inline-flex;
        border-radius: 5%;
    }
    table { 
        border-spacing: 0px;
    }
    .center-elements{
        display: table-cell !important;
        vertical-align: middle !important;
    }
</style>
<div class="text-center">
    <table class="table table-borderless">
        <tr>
            <td class="text-center col-md-2">
                <div class="item">
                    <div class="p-2">
                        <div class="material-symbols-outlined ">
                            shopping_cart
                        </div>
                        <h5>בוחרים את מנורת קסם שתרצו</h5>
                    </div>
                </div>

            </td>
            <td class="center-elements p-0 col-md-2">
                    <span class="material-symbols-outlined">
                        arrow_back
                    </span>
            </td>
            <td class="col-md-2">
                <div class="item">
                    <div class="p-2">
                        <span class="material-symbols-outlined">
                            cloud_upload
                        </span>
                        <h5>מעלים ועורכים עם התמונה משלכם</h5>
                    </div>
                </div>
            </td>
            <td class="center-elements p-0 col-md-2">
                <span class="material-symbols-outlined">
                    arrow_back
                </span>
            </td>
            <td class="col-md-2">
                <div class="item">
                    <div class="p-2">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                        <h5>מזמינים באיסוף עצמי/ משלוח</h5>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
