{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<!-- cropper -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
    integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
    integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- cropperJS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css"
    rel="stylesheet">
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
<script src={%static 'js/upload_fb.js' %} defer></script>

<script src="https://cdn.jsdelivr.net/npm/text-image/dist/text-image.js"></script>

<style>
    .center_form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #image_text {
        white-space: nowrap;
        position: absolute;
        z-index: 2;
        max-width: 450px;
        left: 50%;
        top: {{product.text_spacer_from_top}}%;
        transform: translate(-50%,-50%);
        text-align: center; 
        font-size: 40px;
        font-family: Abraham; 
        color: rgb(255, 255, 255);
        -webkit-text-stroke: 2px gray;
    }
    
    #clock_dot {
        height: 40px;
        width: 40px;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: #bbb;
        border-radius: 50%;
    }    
</style>

<button id="loading" class="hidden btn btn-lg btn-primary" style="position: absolute; left: 50%; top: 50%; z-index: 3;" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
</button>

<div id="clock_dot" class="hidden"></div>
<div id="image_text" class="hidden"></div>
<div class=" text-right">
	<a class="btn btn-outline" href="{% url 'remove_background' %}">&#x2192; בחירת תמונה אחרת</a>
</div>
<div class="box-element text-right">
    <h4>הוספת ברכה</h4>
    <hr>
    <div class="container">
        <p class="text-center">
            הוסיפו ברכה קצרה משלכם
        </p>
        <hr>
            <div class="row product-info">
                <div class="col-lg-7">
                    <div id="image-box" class="text-center align-items-center" style="height: 300px; background-color: gray;">
                    </div>
                </div>
                <div class="col-lg-5">

                    <div id="image_setting_container">
                        <div id="image_text_setting">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-4" for="image_text_input">ברכה קצרה</label>
                                <input class="form-control col-8"  type="text" id="image_text_input"/>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label class="col-4" for="color">צבע הטקסט</label>
                                <input class="form-control col-8" type="text" id="color"/>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label class="col-4" for="text_font">פונט</label>
                                <select class="form-control col-8" id="text_font">
                                    <option>Abraham</option>
                                    <option>GveretLevin</option>
                                    <option>noot</option>
                                    <option>VarelaRound</option>
                                    <option>Rubik-Black</option>
                                </select>
                            </div>
                        </div>
                    </div>    
                </div>
                
                <div id="confirm_container" class="container  text-center">
                    <button data-product="{{product.id}}" data-image_ratio_x="{{product.image_ratio_x}}" style="width: 50%;"
                    data-image_ratio_y="{{product.image_ratio_y}}" data-action="add" class=" btn btn-success mt-3" id="confirm-btn">
                    שמור והוסף לעגלה
                    </button>    
                </div>  
            </div>

        <br>

    </div>

    {% include 'components/upload_image_tips.html' %}
    <div>
        <canvas id="image-canvas" class="hidden" width="{{ img.width }}" height="{{ img.height }}"></canvas>
    </div>

</div>

<script>
    const text_spacer_from_top = parseInt("{{product.text_spacer_from_top}}")/100
    const url = "{{img.image_localURL}}"
    const imageId = "{{img.image_id}}"
    console.log('img url:', "{{img.image_localURL}}")

</script>

<script type="application/javascript" src='{% static "js/moon_lamp_editor.js" %}'></script>

{% endblock content %}