{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="box-element p-5 text-right">
    <h2>מנורת הקסם - מנורה מודפסת אישית</h2>
    <hr>
    <p>
        תביא מגע של קסם לכל חדר בבית שלך עם העיצוב המהמם והמואר של מנורת הקסם. מנורה מודפסת תלת מימדית זו מציעה מגע ייחודי ומותאם אישית, עם אפשרות להעלות תמונות או דפוסים משלך ליצירה מיוחדת במינה.
    </p>
    <h4>תכונות:</h4>
    <p>הדפסת תלת מימד איכותית לפרטים חדים ומדויקים</p>
    <p>תאורת לד חסכונית באנרגיה המחזיקה מעמד לאורך שנים</p>
    <p>עיצוב להתאמה אישית עם תמונות  משלכם</p>
    <p>נייד וקל לשימוש עם מתג הפעלה/כיבוי פשוט</p>

    <h4>מפרט:</h4>
    מפרטים:

    <p>חומר: פלסטיק מודפס בתלת מימד</p>
    <p>מידות: mm105*155</p>
    <p>מקור מתח: נורת LED (כלול)</p>

    <h4>תמונות</h4>

</div>

{% endblock content %}